{% extends 'NiceAdmin/main.html' %}

{% block content %}


<main id="main" class="main">
<div class="pagetitle">
    <h1>Events</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'youths' %}">Home</a></li>
        <li class="breadcrumb-item active">Sermons</li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <h4>hello</h4>
      </div>
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4"></div>
  </div>

</main>
{% endblock %}